<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://websitechangenotifier20201015155921.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2984649f-d672-48c6-914b-4af5a2865ad5/resourcegroups/ResourceGroupKingsleighFunc/providers/Microsoft.Web/sites/websitechangenotifier20201015155921</ResourceId>
    <UserName>$websitechangenotifier20201015155921</UserName>
    <_SavePWD>True</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://websitechangenotifier20201015155921.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>